{% extends 'Myapp/main.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Myapp/Css/order.css' %}">
{% endblock css %}

{% block content %}
    <div id="main-container">
        <div class="shipping-detail">
            <h4>Shipping detail</h4>
            <p>Deliver to: {{ request.user.username }}</p>
            <p>address: {{ request.user.address}}</p>
            <p>email to: {{ request.user.email }}</p>
            
        </div>
        <div class="order-container">
            <div id="product-detail">
                <img src={{product.product_image.url}}>
                <p>Product {{product.name|capfirst }}</p>
                <p>price {{ product.price}}</p>
                <p>quantity {{ quantity }}</p>
                <p>subtotal : Rs. {{ product.price}}</p>
                <p>delivery : Rs. 50</p>
                <p>total : Rs 1500</p>
            </div>
            <div id="checkout-form">
                <form action="{% url "Myapp:order-confirm" product.slug quantity %}" method="post">
                    {% csrf_token %}
                    <input class="order-btn" type="submit" value="place an order">
                </form>
            </div>
        </div>
           

        
         

    </div>
{% endblock %}