#container{
  padding: 8px;
  width: 900px;
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#img-container{
  background-size: cover;
  display: flex;
  align-self: center;
}

#img-container > img{
  width: 400px;
  height: 400px;
  background-size: cover;
}

#side-container{
  width: 600px;
  height: 480px !important;
  margin-left: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(245, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;

}

#product-info p{
  margin-top: 8px;
  word-spacing: 2px;
}

#product-info h2{
  margin-bottom: 10px;
}

.price{
  display: inline-block;
  padding: 5px;
  border: 2px dashed #b3b305;
  border-radius: 2px;
  word-spacing: 3px;
  letter-spacing: 2px;
}

#rating{
  margin-top: 8px;
  display: flex;
  align-items: center;
}
#rating p{
  margin-right: 10px;
}

#rating svg{

  align-self: flex-end;
}

#des{
  margin-top: 25px;
  padding: 8px 12px;
  border: 1px solid #46494b;
  border-radius: 5px;
  font-size: 14px;
}

#order-container{
  display: flex;
  justify-content: space-between;
}

.btn{
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 3px;
  outline: none;
  color: rgb(238, 240, 240);
  font-size: 16px;
  transition: 0.3s ease-in-out;
  
}

.btn-buy{
  width: 230px;
  letter-spacing: 3px;
  background-color: rgba(255, 165, 0, 0.7);
}

.btn-buy:hover{
  background-color: rgba(255, 165, 0, 1);
}

.btn-cart{
  width: 170px;
  background-color: rgb(28,172,139, 0.7);
  align-self: flex-end;
}

.btn-cart:hover{
  background-color: rgb(28,172,139, 1);
}

#orderQty-container{
  margin: 5px 8px;
  display:flex; 
  align-items: center;
}

#orderQty{
  width: 50px;
  height: 30px;
  border-radius: none;
  text-align: center;
  font-size: 16px;
}

#orderQty:focus{
  outline: none;
}
