.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    margin: 25px 0 0 0;
    padding: 0 8px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*
    border: 1px solid gainsboro;
    border-radius: 5px;
    */
}

.brand-name{
    margin: 4px;
    font-family: "Sofia", sans-serif;
    font-size: 40px;
}

.form{
    padding: 5px 0 0 0;
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.form-input{
    padding-left: 8px;
    width: 100%;
    display: flex;
    margin: 0 0 8px 0;
    border-width: 1px 1px 1px 1px; 
    border-style: solid;
    border-color: gainsboro;
    border-radius: 3px;
    background-color: rgba(245, 245, 245, 0.9);
}

.form-control{
    position: relative;
    padding: 3px;
    width: 80%;
    height: 40px;
    border: none;
    background-color: rgba(245, 245, 245, 0.7);
    color: #1f1d1de6;
    font-size: small;
}

.form-control::placeholder{
    color: #000000e6;

}

.form-control:focus{
    outline: none;
}


.form .submit-btn{
    margin-top: 10px;
    margin-bottom: 10px; 
    height: 40px;
    background-color: rgba(28,172,139, 0.7);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
}

.form .submit-btn:hover{
    background-color: rgb(28,172,139);
}

.form-title{
    margin: 10px;
    padding: 5px;
    width: 500px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}

.rl-link{
    margin: auto;
    width: 350px;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.reg{
    margin-top: 24px;
}

.rl-link > p{
    font-size: 14px;
    color: rgba(31, 29, 29, 0.75);
}

.rl-link a{
    color: rgba(28,172,139, 1);
    text-decoration: none;
}

#password-reset{
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    color: rgba(31, 29, 29, 0.75);
}

@media screen and (max-width: 390px){
    .form-container{
        width: 100vw;
        border: none;
    }
    .login-link{
        width: 100vw;
        border: none;
    }
}

@media screen and (width <= 800px){
    .form-container{
        border: none;
    }
    .login-link{
        width: 100vw;
        border: none;
    }
}

.errorlist{
    margin: 3px 15px;
    list-style-type: none;
}

.errorlist > li{
    color: red;
    font-size: 12px;
}

.msg-container{
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top:0;
    position: relative;
}

.info-msg-container{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 181, 45, 0.8);
}

.message-list{
    margin: 0 10px;
    width: 400px;
    list-style-type: none;
}

.message-list .info{
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: small;
}